/* TAMANHO DA PAGINA */

html{
    height: 100%;
    }

/* PADRÃO PARA FONTE E FUNDO DAS TELAS */

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(45deg, red, black);
    }
    
div{
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 100px;
            border-radius: 35px;
            color: white}
input{
            padding: 15px;
            border: none;
            outline: none;
            font-size: 20px;
            top: 50%;
            left: 50%}
button{
            background-color: linear-gradient(45deg, red,black);
            border: 15px;
            padding: 15px;
            width: 100%;
            border-radius: 10px;
            font-size: 15px;}
button:hover{
            background-color:gray;
            cursor: pointer;}

/* PERSONALIZAÇÃO LINK */

a{
    color:rgb(76, 106, 170);
    text-decoration: none;
    }
    a:hover{
    color: gray;
    }